.labels{
    font-size: 20px;
    padding: 10px;
    margin-block: 5px;
}

.ubi{
    font-size: 18px;
}

.magnala{
    padding: 15px;
    font-size: 20px;
    width: 100%;
    background-color: #6ecc65;
}

.premla{
    padding: 15px;
    font-size: 20px;
    width: 100%;
    background-color: #cc6565;
}
.diesla{
    padding: 15px;
    font-size: 20px;
    width: 100%;
    background-color: #000000;
}

.cont_pre{
    --background:#0a0a0a;
}

.precio{
    font-size: 28px;
    color: orangered;
    background: black;
}

.inputgas{
    --background: black;
    padding-block: 5px;
    width: 30%;

}