ion-tab-bar{
    background-color: #8cb85a;
    height: 70px;
}

ion-tab-button{
    color: white;
    background-color: #9CCC65;
    font-size: 16px;
    border: 1px solid #86af57 ;
    border-radius: 5px;
}